{{ define "slack.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.SortedPairs.Values | join " " }} - {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.text" }}
{{ if gt (len .Alerts.Firing) 0 }}
*Alerts Firing:*
{{ range .Alerts.Firing }}
• *{{ .Labels.alertname }}* - {{ .Annotations.description }}
  *Severity:* {{ .Labels.severity }}
  *Started:* {{ .StartsAt.Format "2006-01-02 15:04:05 MST" }}
{{ if .GeneratorURL }}  *Source:* <{{ .GeneratorURL }}|:link:>{{ end }}
{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
*Alerts Resolved:*
{{ range .Alerts.Resolved }}
• *{{ .Labels.alertname }}* - {{ .Annotations.description }}
  *Severity:* {{ .Labels.severity }}
  *Started:* {{ .StartsAt.Format "2006-01-02 15:04:05 MST" }}
  *Resolved:* {{ .EndsAt.Format "2006-01-02 15:04:05 MST" }}
{{ end }}
{{ end }}

<http://127.0.0.1:3001/d/trading-system/trading-system-dashboard|View in Grafana>
{{ end }}